
.headerContainer {
    display: flex;
    align-items: center;    
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 2rem;
}

.bodyStyle {
    color: #bd7f3a;
    font-family: 'pt serif',georgia;

  }

.bodyContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    
    text-align: center;
    background-color: #1E2637;
}

.homeContainer {
    margin: 25px;
}

.homeCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.gameContainer {
    height: 200px;
    width: 250px;
    border: 2px solid gray;    
    border-radius: 5px;
    margin: 5px;
    /* background-color: lightgray; */
    background-color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.imageContainer {
    margin: 10px;
}

.startButton {    
    border: 2px darkgrey solid;
    margin: 5px;
}